<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Season Standings</title>
  </head>

  <h1>Season Standings<h1>
    <body>
        <a href = '/leaderboard'>Leaderboard</a>
        <ul>
        </ul>
    </body>
</html>
